.case-code {
    background-color: #f5f5f5;
    padding: 10px;
    border-left: solid 1px #ccc;
    font-family:monospace;
    color: #4b4b93;
}

.ui-case-code {
    background-color: #ffffdc;
    padding: 10px;
    border-left: solid 1px #ccc;
    font-family:monospace;
    color: #4b4b93;
}

@if !user.agent ie6 ie8 {
    pre, code {
        font-size: 120%;
    }
}

.section-desc {
    background-color: #f5f5f5;
    font-weight: bold;
    color: #4b4b93;
}

.media-desc {
    margin-top: 5px;
    font-size: 90%;
    font-style: italic;
}

.player-MissingPlugin {
    border: solid 3px #b1b1db;
    font-size: 70%;
}

.player-MissingPlugin-title {
    background-color: #b1b1db;
    text-indent: 5px;
    font-weight: bold;
}

.player-MissingPlugin-message {
    padding: 5px;
}

