.panel {
    margin: 2px;
    border: 1px solid #ccc;
    padding: 3px;
}
.panel-title {
}

.samples {
    height: 100%;
    vertical-align: middle;
}
.clear {
    clear: both;
}
.player-options {
    margin-top: 5px;
}
.list-panel {
    height: 110px;
    margin-top: 5px;
}