.panel {
    margin: 2px;
    border: 1px solid #ccc;
    padding: 3px;
}
.panel-title {
}

.samples {
    height: 100%;
    vertical-align: middle;
}
.clear {
    clear: both;
}
.thumbnail {
    height: 70px;
    width: 70px;
    border: 2px ridge #ccc;
    margin: 18px;
    padding: 5px;
    background-color: aliceblue;
    cursor: pointer;
    float: left;
}
.player-options {
    margin-top: 5px;
}
.playlist-panel {
    height: 110px;
    margin-top: 5px;
}