.player-AudioLink {
    background: #ccffcc url(player-link-play.gif) center right no-repeat;
    padding-right: 20px;
}
.player-AudioLink-playing {
    background: #ffcc99 url(player-link-pause.gif) center right no-repeat;
    padding-right: 20px;
}
.player-AudioLink-paused {
    background: #ffff00 url(player-link-play.gif) center right no-repeat;
    padding-right: 20px;
}
